<?xml version="1.0" encoding="UTF-8" ?>

<configuration xmlns="http://ch.qos.logback/xml/ns/logback" debug="false">

  <appender name="STDERR"
            class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="com.io7m.looseleaf.cmdline.LLLoggingPatternLayout" />
    </encoder>
    <target>System.err</target>
  </appender>

  <logger name="org.eclipse.jetty" level="ERROR"/>

  <root level="TRACE">
    <appender-ref ref="STDERR"/>
  </root>

</configuration>
